.homeC > img{
    height:650px;
    width:auto;
    margin-left: 100px;
    margin-top: 100px;



}
 .line {
    border-style: hidden;
    background-color: rgb(233, 233, 233);
    height: 50px;
    
}

.justDoIt > img {
    height:600px;
    width:auto;
    margin:150px;
    border-radius: 20px;

}
.para1 > p{
    margin-left: 1000px;
    margin-bottom: 100px;
    position: relative;
  
}


.N1964 > img{
    height:600px;
    width:auto;
    margin-left: 800px;
    position:sticky;
  
    border-radius: 20px;
}


