.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    
  }

  .productImg {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 8px;
  }

  a {
    border-style:solid;
  
  }
  a button {
   background-color: black;
   color:white;
    
  }
 

 